/* =========================================================
                    Common CSS Start
=========================================================== */
* {
        margin: 0;
        padding: 0;
        outline: 0;
}

ul,
ol {
        list-style: none;
}

a {
        text-decoration: none;
        display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
        margin: 0;
        padding: 0;
}


.transation {
        transition: all linear .3s;
        -webkit-transition: all linear .3s;
        -moz-transition: all linear .3s;
        -ms-transition: all linear .3s;
        -o-transition: all linear .3s;
}

.main_overly {
        position: relative;
        z-index: 1;
}

.main_overly::after {
        position: absolute;
        content: '';
        background: #47474770;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
}

:root {
        --wald: 'Oswald', sans-serif;
        --sans: 'Open Sans', sans-serif;
        --hover: #004a8a;
}

/* =========================================================
                    Common CSS End
=========================================================== */
/* =========================================================
                    nav part start
=========================================================== */
#nav {
        padding: 10px 0 5px;
        border-bottom: 5px solid var(--hover);
        box-shadow: 0 0 50px #000000;
}

/* =========================================================
                    nav part End
=========================================================== */

.images {
        box-shadow: 0 0 50px #000000;
        border-radius: 50%;
        width: 100%;
        height: 100%;
}

.images .img a {
        overflow: hidden;
        width: 209px;
        height: 209px;
}




/* =========================================================
                    Menu CSS Start
=========================================================== */
.main_menu ul li a {
        margin-left: 25px;
        line-height: 50px;
        color: #000000;
        text-shadow: -1px 1px 3px #05515e6e;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Oswald', sans-serif;

}

.main_menu ul li a:hover {

        color: #004a8a;

}

.main_menu ul {
        padding: 10px;
        box-shadow: 0 0 5px #000000;
        border-radius: 30px;
}

.main_menu {
        padding: 30px 0 0;
        margin-left: 20px;
}

.menu_last {
        padding: 46px 0 0;
}

/* =========================================================
                    Menu CSS end
=========================================================== */

html,
body {
        height: 100%;
}

.wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.button {
        min-width: 160px;
        min-height: 8px;
        font-family: 'Nunito', sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        /*! letter-spacing: 1.3px; */
        font-weight: 900;
        color: #313133;
        background: #f47920;
        background: linear-gradient(90deg, rgb(235, 162, 53) 0%, rgb(243, 151, 30) 100%);
        border: none;
        border-radius: 200px;
        box-shadow: 12px 12px 24px rgba(61, 55, 2, 0.64);
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        outline: none;
        position: relative;
        padding: 12px;
}

button::before {
        content: '';
        border-radius: 200px;
        min-width: calc(168px + 36px);
        min-height: calc(58px + 12px);
        border: 6px solid #f47920;
        box-shadow: 0 0 60px rgba(255, 153, 0, 0.64);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
        color: #313133;
        transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
        opacity: 1;
}

button::after {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 6px solid #f47920;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
        animation: none;
        display: none;
}

@keyframes ring {
        0% {
                width: 30px;
                height: 30px;
                opacity: 1;
        }

        100% {
                width: 300px;
                height: 300px;
                opacity: 0;
        }
}

/* animation button  */
/* nav part end  */
/* header part start  */
.header_main_text {
        text-align: center;
}

.header_main_text .sound {
        position: absolute;
        right: 30px;
        top: 200px;
        padding: 5px 10px;
        background: #fdfeff;
        border-radius: 30px;
        box-shadow: 0 0 8px #000000;
        z-index: 999;
}


/*
* Animated CSS button
* Copyright Alexander Bodin 2019-09-07
*
* Useage: .class {@import button($button-size, $hue, $sat);}
*/
.animated-button {
        background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #d4e0f7;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #8592ad;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button:hover::before {
        opacity: 0.2;
}

.animated-button span {
        position: absolute;
}

.animated-button span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
        background: linear-gradient(to left, rgba(8, 20, 43, 0), #2662d9);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
        background: linear-gradient(to top, rgba(8, 20, 43, 0), #2662d9);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#2662d9));
        background: linear-gradient(to right, rgba(8, 20, 43, 0), #2662d9);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#2662d9));
        background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #2662d9);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button1 {
        background: linear-gradient(-30deg, #ffffff 50%, #fefeff 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #000000;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button1::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #ad8585;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button1:hover::before {
        opacity: 0.2;
}

.animated-button1 span {
        position: absolute;
}

.animated-button1 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
        background: linear-gradient(to left, rgba(43, 8, 8, 0), #71ff30);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button1 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
        background: linear-gradient(to top, rgba(43, 8, 8, 0), #26c0d9);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button1 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
        background: linear-gradient(to right, rgba(43, 8, 8, 0), #26d1d9);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button1 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
        background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #26c8d9);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button2 {
        background: linear-gradient(-30deg, #3d240b 50%, #2b1a08 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #f7e6d4;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button2::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #ad9985;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button2:hover::before {
        opacity: 0.2;
}

.animated-button2 span {
        position: absolute;
}

.animated-button2 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(43, 26, 8, 0)), to(#d98026));
        background: linear-gradient(to left, rgba(43, 26, 8, 0), #d98026);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button2 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 26, 8, 0)), to(#d98026));
        background: linear-gradient(to top, rgba(43, 26, 8, 0), #d98026);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button2 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(43, 26, 8, 0)), to(#d98026));
        background: linear-gradient(to right, rgba(43, 26, 8, 0), #d98026);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button2 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 26, 8, 0)), to(#d98026));
        background: linear-gradient(to bottom, rgba(43, 26, 8, 0), #d98026);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button3 {
        background: linear-gradient(-30deg, #3d3d0b 50%, #2b2b08 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #f7f7d4;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button3::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #adad85;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button3:hover::before {
        opacity: 0.2;
}

.animated-button3 span {
        position: absolute;
}

.animated-button3 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(43, 43, 8, 0)), to(#d9d926));
        background: linear-gradient(to left, rgba(43, 43, 8, 0), #d9d926);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button3 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 43, 8, 0)), to(#d9d926));
        background: linear-gradient(to top, rgba(43, 43, 8, 0), #d9d926);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button3 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(43, 43, 8, 0)), to(#d9d926));
        background: linear-gradient(to right, rgba(43, 43, 8, 0), #d9d926);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button3 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 43, 8, 0)), to(#d9d926));
        background: linear-gradient(to bottom, rgba(43, 43, 8, 0), #d9d926);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button4 {
        background: linear-gradient(-30deg, #243d0b 50%, #1a2b08 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #e6f7d4;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button4::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #99ad85;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button4:hover::before {
        opacity: 0.2;
}

.animated-button4 span {
        position: absolute;
}

.animated-button4 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(26, 43, 8, 0)), to(#80d926));
        background: linear-gradient(to left, rgba(26, 43, 8, 0), #80d926);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button4 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 43, 8, 0)), to(#80d926));
        background: linear-gradient(to top, rgba(26, 43, 8, 0), #80d926);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button4 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(26, 43, 8, 0)), to(#80d926));
        background: linear-gradient(to right, rgba(26, 43, 8, 0), #80d926);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button4 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 43, 8, 0)), to(#80d926));
        background: linear-gradient(to bottom, rgba(26, 43, 8, 0), #80d926);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button5 {
        background: linear-gradient(-30deg, #0b3d0b 50%, #082b08 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #d4f7d4;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button5::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #85ad85;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button5:hover::before {
        opacity: 0.2;
}

.animated-button5 span {
        position: absolute;
}

.animated-button5 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(8, 43, 8, 0)), to(#26d926));
        background: linear-gradient(to left, rgba(8, 43, 8, 0), #26d926);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button5 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 43, 8, 0)), to(#26d926));
        background: linear-gradient(to top, rgba(8, 43, 8, 0), #26d926);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button5 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(8, 43, 8, 0)), to(#26d926));
        background: linear-gradient(to right, rgba(8, 43, 8, 0), #26d926);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button5 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 43, 8, 0)), to(#26d926));
        background: linear-gradient(to bottom, rgba(8, 43, 8, 0), #26d926);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button6 {
        background: linear-gradient(-30deg, #0b3d24 50%, #082b1a 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #d4f7e6;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button6::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #85ad99;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button6:hover::before {
        opacity: 0.2;
}

.animated-button6 span {
        position: absolute;
}

.animated-button6 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(8, 43, 26, 0)), to(#26d980));
        background: linear-gradient(to left, rgba(8, 43, 26, 0), #26d980);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button6 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 43, 26, 0)), to(#26d980));
        background: linear-gradient(to top, rgba(8, 43, 26, 0), #26d980);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button6 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(8, 43, 26, 0)), to(#26d980));
        background: linear-gradient(to right, rgba(8, 43, 26, 0), #26d980);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button6 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 43, 26, 0)), to(#26d980));
        background: linear-gradient(to bottom, rgba(8, 43, 26, 0), #26d980);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button7 {
        background: linear-gradient(-30deg, #0b3d3d 50%, #082b2b 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #d4f7f7;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button7::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #85adad;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button7:hover::before {
        opacity: 0.2;
}

.animated-button7 span {
        position: absolute;
}

.animated-button7 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(8, 43, 43, 0)), to(#26d9d9));
        background: linear-gradient(to left, rgba(8, 43, 43, 0), #26d9d9);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button7 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 43, 43, 0)), to(#26d9d9));
        background: linear-gradient(to top, rgba(8, 43, 43, 0), #26d9d9);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button7 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(8, 43, 43, 0)), to(#26d9d9));
        background: linear-gradient(to right, rgba(8, 43, 43, 0), #26d9d9);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button7 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 43, 43, 0)), to(#26d9d9));
        background: linear-gradient(to bottom, rgba(8, 43, 43, 0), #26d9d9);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button8 {
        background: linear-gradient(-30deg, #0b243d 50%, #081a2b 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #d4e6f7;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button8::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #8599ad;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button8:hover::before {
        opacity: 0.2;
}

.animated-button8 span {
        position: absolute;
}

.animated-button8 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(8, 26, 43, 0)), to(#2680d9));
        background: linear-gradient(to left, rgba(8, 26, 43, 0), #2680d9);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button8 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 26, 43, 0)), to(#2680d9));
        background: linear-gradient(to top, rgba(8, 26, 43, 0), #2680d9);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button8 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(8, 26, 43, 0)), to(#2680d9));
        background: linear-gradient(to right, rgba(8, 26, 43, 0), #2680d9);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button8 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 26, 43, 0)), to(#2680d9));
        background: linear-gradient(to bottom, rgba(8, 26, 43, 0), #2680d9);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button9 {
        background: linear-gradient(-30deg, #0b0b3d 50%, #08082b 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #d4d4f7;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button9::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #8585ad;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button9:hover::before {
        opacity: 0.2;
}

.animated-button9 span {
        position: absolute;
}

.animated-button9 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(8, 8, 43, 0)), to(#2626d9));
        background: linear-gradient(to left, rgba(8, 8, 43, 0), #2626d9);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button9 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 8, 43, 0)), to(#2626d9));
        background: linear-gradient(to top, rgba(8, 8, 43, 0), #2626d9);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button9 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(8, 8, 43, 0)), to(#2626d9));
        background: linear-gradient(to right, rgba(8, 8, 43, 0), #2626d9);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button9 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 43, 0)), to(#2626d9));
        background: linear-gradient(to bottom, rgba(8, 8, 43, 0), #2626d9);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button10 {
        background: linear-gradient(-30deg, #240b3d 50%, #1a082b 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #e6d4f7;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button10::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #9985ad;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button10:hover::before {
        opacity: 0.2;
}

.animated-button10 span {
        position: absolute;
}

.animated-button10 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(26, 8, 43, 0)), to(#8026d9));
        background: linear-gradient(to left, rgba(26, 8, 43, 0), #8026d9);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button10 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 8, 43, 0)), to(#8026d9));
        background: linear-gradient(to top, rgba(26, 8, 43, 0), #8026d9);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button10 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(26, 8, 43, 0)), to(#8026d9));
        background: linear-gradient(to right, rgba(26, 8, 43, 0), #8026d9);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button10 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 8, 43, 0)), to(#8026d9));
        background: linear-gradient(to bottom, rgba(26, 8, 43, 0), #8026d9);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button11 {
        background: linear-gradient(-30deg, #3d0b3d 50%, #2b082b 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #f7d4f7;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button11::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #ad85ad;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button11:hover::before {
        opacity: 0.2;
}

.animated-button11 span {
        position: absolute;
}

.animated-button11 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 43, 0)), to(#d926d9));
        background: linear-gradient(to left, rgba(43, 8, 43, 0), #d926d9);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button11 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 43, 0)), to(#d926d9));
        background: linear-gradient(to top, rgba(43, 8, 43, 0), #d926d9);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button11 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 43, 0)), to(#d926d9));
        background: linear-gradient(to right, rgba(43, 8, 43, 0), #d926d9);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button11 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 43, 0)), to(#d926d9));
        background: linear-gradient(to bottom, rgba(43, 8, 43, 0), #d926d9);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

.animated-button12 {
        background: linear-gradient(-30deg, #3d0b24 50%, #2b081a 50%);
        padding: 20px 40px;
        margin: 12px;
        display: inline-block;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        overflow: hidden;
        color: #f7d4e6;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button12::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #ad8599;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
}

.animated-button12:hover::before {
        opacity: 0.2;
}

.animated-button12 span {
        position: absolute;
}

.animated-button12 span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 26, 0)), to(#d92680));
        background: linear-gradient(to left, rgba(43, 8, 26, 0), #d92680);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
        0% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }

        100% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
}

.animated-button12 span:nth-child(2) {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 26, 0)), to(#d92680));
        background: linear-gradient(to top, rgba(43, 8, 26, 0), #d92680);
        -webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
        0% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }

        100% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
}

.animated-button12 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 26, 0)), to(#d92680));
        background: linear-gradient(to right, rgba(43, 8, 26, 0), #d92680);
        -webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
        0% {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }

        100% {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
}

.animated-button12 span:nth-child(4) {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 26, 0)), to(#d92680));
        background: linear-gradient(to bottom, rgba(43, 8, 26, 0), #d92680);
        -webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
        0% {
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }

        100% {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
}

/*# sourceMappingURL=button.css.map */

#header {
        padding: 0 0 30px;
}

.img .overly {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: #0000002a;
}

.img {
        position: relative;

}

.img .overly .wrap .bol {
        transition: all 0.3s ease-in-out 0s !important;
        cursor: pointer !important;
        outline: none !important;
        position: relative !important;
        padding: 12px !important;
        background: transparent;

}

.img .overly .wrap .bol:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s ease-in-out 0s;
}

.img .overly .wrap .bol i {
        font-size: 50px;
        width: 100px;
        height: 100px;
        background: rgb(255, 255, 255);
        text-align: center;
        line-height: 100px;
        border-radius: 50%;

}

.img .overly .wrap {
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
}


.news_text p {
        text-align: justify;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
}

/* header part end  */
/* section part start  */
#section {
        padding: 40px 0 90px;
        background: #ddd;
}

.pic1 h1 {
        font-size: 20px;
        font-weight: 600;
        background: #00adef;
        padding: 6px 2px !important;
        margin-bottom: 20px;
}

.pic2 h1 {
        font-size: 20px;
        font-weight: 600;
        background: #e44c3f;
        padding: 6px 2px !important;
        margin-bottom: 20px;
}

.pic3 h1 {
        font-size: 20px;
        font-weight: 600;
        background: #824580;
        padding: 6px 2px !important;
        margin-bottom: 20px;
}

.pic4 h1 {
        font-size: 20px;
        font-weight: 600;
        background: #d08738;
        padding: 6px 2px !important;
        margin-bottom: 20px;
}

.pic1,
.pic2,
.pic3,
.pic4{
        box-shadow: 0 0 7px #000000;
        border-radius: 30px;
        overflow: hidden;
}
#footers{
        padding: 20px 0;
        text-align: center;
}
.icon {
        text-align: center;
        display: inline-block;
}
.icon ul li{
        margin-right: 15px;
}
.icon ul li a{
        color: #ffffff;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #004a8a;
        border-radius: 50%;
        transition: all linear .3s;
}
.icon ul li a:hover{
        color: #ffffff;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #008a29;
        border-radius: 50%;
}

#footer{
        padding: 10px 0;
        border-top: 1px solid #000000;
}
/* section part end  */
